include __mixins.pug
mixin nav-links(options, liClass)
    ul(class!=attributes.class)
        each item in options
            li(class=liClass)
                a(href=item[1] data-goto=item[2] class=liClass)= item[0]
header.header#header
    .header__container
        a(href="#").logo.header__logo
            include svg/Logo.svg
        -
            var list = [["О Нас","#", ".about__wrapper"], ["Услуги","#", ".facility__wrapper"],
                ["Врачи","#",".doctors__wrapper"], ["Адрес","#",".address__wrapper"]]
        
        .header__menu.menu
            .menu__icon 
                button.menu__icon-svg
            nav.menu__body
                +nav-links(list, 'menu__link')(class=" menu__list")

