.paper-light {
    background-color: #fff;
}
.paper-dark {
    background-color: #424242;
}
.default-light {
    background-color: #FAFAFA;
}
.default-dark {
    background-color: #303030;
}
.primary-main {
    background-color: #03ACF2;
}
.primary-light {
    background-color: #B3E5FC;
}
.primary-dark {
    background-color: #0077AA;
}
.secondary-main {
    background-color: #4CAF50;
}
.secondary-light {
    background-color: #C8E6C9;
}
.secondary-dark {
    background-color: #357A38;
}
.text-primary {
    color: rgba(0, 0, 0, 0.87);
}
.text-secondary {
    color: rgba(0, 0, 0, 0.54);
}
.text-disabled {
    color: rgba(0, 0, 0, 0.38);
}
.text-field {
    color: rgba(0, 0, 0, 0.42);
}
.text-secondary-dark-mode {
    color: rgba(255,255,255,0.7);
}
