//null-style
@import "__null-style.scss";
//fonts
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Roboto:wght@300;400;500;700&display=swap");
// font-family: 'Lato', sans-serif;
// font-family: 'Roboto', sans-serif;

//ibg
@import "__ibg.scss";
//Consts
@import "__consts.scss";

//General style===============
.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1100px;
    &.large {
        max-width: 1400px;
        padding: 0 10px;
    }
}
.h2 {
    font-weight: 500;
    font-size: 48px;
    line-height: 158%;
    &.blue {
        color: #01579b;
        font-weight: 700;
        font-size: 52px;
        word-wrap: break-word;
        max-width: 300px;
        line-height: 128%;
    }
}
.green-button {
    background-color: #4caf50;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease 0s;
    &:hover {
        background-color: #357a38;
    }
}

.link-underline {
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: all 0.2s ease 0s;
    &:hover {
        text-decoration-color: inherit;
    }
}

._hidden {
    display: none !important;
    pointer-events: none !important;
}
.searchbar {
    width: 100%;
    padding: 20px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__input {
        font-size: 20px;
        padding: 0 20px 0 20px;
        width: 100%;
    }
    &__button {
        font-size: 14px;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        border-radius: 20px;
        padding: 13px 60px;
        text-align: center;
        transition: all 0.3s ease 0s;
        &:hover {
            background-color: #357a38;
        }
    }
    &__wrap {
        position: relative;
        z-index: 2;
        max-width: 760px;
        margin-left: -40px;
    }
    &__result {
        width: 100%;
        padding: 15px;
        font-size: 20px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 0 0 40px 40px;
        transition: all 0.45s ease 0s;
    }
}
//==================================

//header
@import "__header.scss";
//sections

//footer
@import "__footer.scss";
//==================================
* {
    font-family: "Roboto", sans-serif;
}
.start {
    padding: 180px 0 0 0;
    height: 730px;
    max-height: 100vh;
    position: relative;
    &__wrapper {
        background: url("../images/bg1.svg");
        background-repeat: no-repeat;
        background-position: top right;
    }
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__image {
        position: absolute;
        top: 100px;
        right: 0;
        max-width: 500px;
        img {
            max-width: 100%;
        }
    }
    &__title {
        font-size: 64px;
        max-width: 550px;
        font-weight: 700;
    }
    &__subtitle {
        font-size: 32px;
        max-width: 550px;
        margin: 40px 0;
    }
}

.about {
    padding-top: 100px;
    margin-top: -100px;
    display: flex;
    padding-bottom: 115px;
    justify-content: space-between;
    &__wrapper {
        background: url("../images/bg2.svg");
        background-repeat: no-repeat;
        background-position: top left;
    }
    &__circle {
        border: 1px solid #03a9f4;
        padding: 50px;
        border-radius: 50%;
        width: 400px;
        height: 400px;
        position: relative;
    }
    &__circle-text {
        font-weight: 700;
        font-size: 50px;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
    }
    &__image {
        border-radius: 50%;
        img {
            max-width: 100%;
            border-radius: 50%;
        }
    }
    &__info {
        max-width: 800px;
        padding-top: 25px;
    }
    &__stats {
        display: flex;
        padding: 35px 0 35px 0;
        .about-stat:nth-child(2) {
            margin-left: -50px;
        }
    }
    &__main-stat {
        max-width: 190px;
        text-align: right;
        margin-left: -50px;
    }
    &__main-stat-title {
        font-size: 60px;
        font-weight: 700;
    }
    &__main-stat-subtitle {
        font-size: 26px;
        font-weight: 400;
    }
    &__subtitle {
        max-width: 550px;
        font-weight: 300;
        line-height: 145%;
        font-size: 24px;
        padding-left: 15px;
        display: flex;
        align-items: center;
        position: relative;
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 3px;
            background-color: rgba(0, 0, 0, 0.12);
        }
    }
}

.about-stat {
    position: relative;
    height: 120px;
    width: 250px;
    &::after {
        content: "";
        position: absolute;
        top: 67px;
        left: 90px;

        display: block;
        height: 1px;
        width: 140px;
        background-color: #c8e6c9;

        transform: rotate(-45deg);
    }
    &__title {
        font-size: 42px;
        font-weight: 700;
        padding-right: 40px;
        text-align: right;
        max-width: 200px;
    }
    &__name {
        font-weight: 400;
        position: absolute;
        top: 50%;
        margin-top: -12px;
        font-size: 26px;
        width: 180px;
        color: #2e7d32;
        background-color: #c8e6c9;
        border-radius: 40px 0 0 40px;
        border: 0 0 50px 0;
        padding: 5px 35px 5px 25px;

        clip-path: polygon(0 0, 0 100%, 80% 100%, 100% 0, 0 0);
    }
}

.facility {
    margin-top: -100px;
    padding-bottom: 160px;
    &__wrapper {
        background: url("../images/bg3.svg");
        background-repeat: no-repeat;
        background-position: top right;
        position: relative;
    }
    &__perfo {
        position: absolute;
        top: 20px;
        left: 80px;
    }
    &__title {
        position: absolute;
        top: 350px;
        right: 0;
        padding-right: 20px;
    }
}

.facility-slide {
    width: 300px;
    height: 450px;
    background-color: #fff;
    border-radius: 40px;
    position: relative;
    &__image {
        width: 100%;
        height: 40%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 40px 40px 60px 0px;
    }
    &__info {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 20px;
        padding-top: 65%;
    }
    &__title {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 15px;
    }

    &__description {
        font-size: 18px;
    }

    &__btn {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 65%;
        height: 60px;
        border-radius: 40px 0px 40px 0px;
        font-size: 20px;
        font-weight: 500;
    }
    box-shadow: 0px 0px 12px 2px rgba(202, 202, 202, 0.75);
    -webkit-box-shadow: 0px 0px 12px 2px rgba(202, 202, 202, 0.75);
    -moz-box-shadow: 0px 0px 12px 2px rgba(202, 202, 202, 0.75);
    &._facility-popup {
        .facility-slide__popup {
            opacity: 1;
        }
    }
    &._facility-pointer {
        .facility-slide__popup {
            pointer-events: all;
        }
    }
}

.facility-popup {
    pointer-events: none;
    opacity: 0;
    transition: all 0.4s ease 0s;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    padding: 20px;
    padding-top: 30px;
    border-radius: 40px;
    background-color: #b3e5fc;
    &__title {
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 15px;
    }

    &__options {
        font-size: 18px;
        padding-left: 20px;
        li {
            list-style: initial;
        }
        margin: 20px 0;
    }

    &__timetable {
        font-size: 17px;
        line-height: 1.4;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    &__btn {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 65%;
        height: 60px;
        border-radius: 40px 0px 40px 0px;
        font-size: 20px;
        font-weight: 500;
    }
}

.doctors {
    display: flex;
    padding-top: 100px;
    padding-bottom: 480px;
    &__wrapper {
        background: url("../images/bg4.svg");
        background-repeat: no-repeat;
        background-position: top left;
    }

    &__menu {
        min-width: 400px;
        margin-right: 50px;
        margin-left: 50px;
    }

    &__title {
        margin-bottom: 30px;
        line-height: 1.2;
    }

    &__list {
        max-width: 300px;
        > li {
            font-size: 24px;
            width: 100%;
            height: 45px;
            padding: 10px;
            border-radius: 40px;
            transition: all 0.3s ease 0s;
            cursor: pointer;
            &:not(:last-child) {
                margin-bottom: 10px;
            }
            &:hover {
                background-color: #d4f2ff;
            }
            &.active {
                background-color: #b3e5fc;
                color: #0077aa;
                &:hover {
                    background-color: #9fddfa;
                }
            }
        }
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 65px;
        width: 100%;
        &.active {
            animation-name: hideNshow;
            animation-duration: 1.2s;
        }
    }
    @keyframes hideNshow {
        0% {
            opacity: 1;
        }
        40% {
            opacity: 0;
        }
        70% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

.doc-card {
    box-shadow: 0px 0px 22px 2px rgba(202, 202, 202, 0.4);
    -webkit-box-shadow: 0px 0px 22px 2px rgba(202, 202, 202, 0.4);
    -moz-box-shadow: 0px 0px 22px 2px rgba(202, 202, 202, 0.4);

    width: 380px;
    height: 170px;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    &__photo {
        border-radius: 0 50% 50% 50%;
        width: 100px;
        height: 100px;
        position: absolute;
        top: -20px;
        left: -20px;
    }
    &__text {
        padding-left: 80px;
    }
    &__name {
        font-size: 22px;
        margin-bottom: 10px;
    }

    &__job {
        font-size: 20px;
    }

    &__stats {
        display: flex;
        &-wrap {
            &::before {
                content: "";
                display: block;
                height: 1px;
                width: 70%;
                background-color: #d9d9d9b3;
                margin: 0 auto;
                margin-bottom: 20px;
            }
        }
    }

    &__rating {
        font-size: 16px;
        > svg {
            margin-bottom: -5px;
            margin-right: 5px;
        }
        margin-right: 40px;
    }

    &__experience {
        font-size: 16px;
        > svg {
            margin-bottom: -5px;
            margin-right: 5px;
        }
    }
    display: none;
    &._visible {
        display: block;
    }
}

.testimonials {
    margin-top: -400px;
    &__wrapper {
        background: url("../images/bg3.svg");
        background-repeat: no-repeat;
        background-position: top right;
        position: relative;
    }
    &__title {
        position: absolute;
        top: 350px;
        right: 100px;
        padding-right: 20px;
    }

    &__slider {
    }
}
.testimonial {
    border-radius: 0% 30% 30% 30%;
    background-color: #fff;
    padding: 65px 65px 35px 20px;
    box-shadow: 0px 0px 12px 2px rgba(202, 202, 202, 0.4);
    -webkit-box-shadow: 0px 0px 12px 2px rgba(202, 202, 202, 0.4);
    -moz-box-shadow: 0px 0px 12px 2px rgba(202, 202, 202, 0.4);
    width: 450px;
    height: 350px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__text {
        font-size: 20px;
    }

    &__stars {
    }

    &__user {
    }

    &__name {
        text-align: right;
        padding-right: 100px;
        font-size: 22px;
        font-weight: 500;
    }

    &__avatar {
        border-radius: 50% 50% 0% 50%;
        border: 2px solid rgb(193, 193, 193);
        width: 100px;
        height: 100px;
        position: absolute;
        bottom: 0;
        right: 15px;
    }
}

.appointment {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    margin-top: 190px;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid #03a9f4;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    &__title {
        font-size: 28px;
        font-weight: 500;
        margin-bottom: 10px;
    }
    &__subtitle {
        font-size: 20px;
    }
    &__link {
        margin-left: 20px;
        border-radius: 40px;
        padding: 20px 40px;
        color: #fff;
        text-transform: uppercase;
        font-size: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
    }
}

.address {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    &__wrapper {
        background: url("../images/bg2.svg");
        background-repeat: no-repeat;
        background-position: top left;
        height: 1000px;
    }

    &__info {
        margin-right: 50px;
        margin-left: 50px;
    }

    &__address-block {
        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }

    &__map {
        position: relative;
        img {
            border-radius: 40px;
            max-width: 100%;
            width: 800px;
        }
    }

}

.address-block {
    &__title {
        font-weight: 500;
        font-size: 24px;
        margin-bottom: 10px;
    }

    &__contacts {
        font-size: 20px;
        display: grid;
        grid-template-areas:
            "phone email"
            "location location";
        row-gap: 10px;
        column-gap: 20px;
    }

    &__phone {
        grid-area: phone;
    }

    &__email {
        grid-area: email;
    }

    &__location {
        grid-area: location;
    }
}

@media (max-width: 1300px) {
    .header {
        top: 20px;
    }
}

@import "__slick-slider.scss";
